.todo-form{
    display: flex;
    justify-content: center;
}

.todo-input{
    color: #ffffff;
    background-color: #010001;
    height: 2rem;
    border-color: #F5B072;
    border-radius: 5px;
    border-width: thin;
    outline: none !important;
    width: 100%;
    font-size: 15px;

}

.todo-input:focus{
    border-color: #F5B072;
    border-radius: 5px;
    outline: none !important;
}

.todo-add-btn{
    background-color:#F5B072;
    border: none;
    border-radius: 5px;
    margin-left: 30px ;
    font-size: 15px;
    height: 100%;
    width: 100%;
}
