.todo-app{
  background-color: #E2AE7E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo-title{
  font-family: 'Qwitcher Grypen', cursive;
  text-align: center;
  font-size: 70px;
}

.todo-container{
  background-color: #282c34;
  width: 25rem;
  height: 30rem;
  box-shadow: 0 4px 8px 0 #202c45, 0 6px 20px 0 #202c45;
  border-radius: 25px;
}
